<div class="navigation mb-2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

<a class="navbar-brand" href="/posts">Koala</a>
        <div class="d-flex">
        <form class="d-flex" action="/search" method="post" id="searchForm">
          <input
            id="searchBox"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="message"
          />
          <button class="btn btn-outline-success me-2" type="submit" id="searchButton"><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              ></path>
            </svg></button>
        </form>
        <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            {{#if user}}
              src={{user.profilePicture}}
            {{else}}
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
            {{/if}}
            alt="mdo"
            width="30"
            height="30"
            class="rounded-circle"
          />
        </a>
        <ul
      class="dropdown-menu dropdown-menu-end text-small"
          aria-labelledby="dropdownUser1"
          style=""
        >
          {{#if user}}
          <li><a class="dropdown-item" id="dropdown-profile-link" href="/profile/{{ loggedInUserId }}">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" id="message-dropdown" href="/message">Messages</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li> <form class="dropdown-item" action="/sessions/log-out" method="post" id="signOut"><input id="sign-out-button" type="submit" value="Sign Out" > </input> </form></li>
          {{else}}
          <form class="px-3 py-2 user-dropdown-menu">
            <div class="form-group">
              <label for="signInEmail">Email address</label>
              <input type="email" class="form-control input-within-dropdown" id="signInEmail" placeholder="email@example.com">
            </div>
            <div class="form-group">
              <label for="signInPassword">Password</label>
              <input type="password" class="form-control input-within-dropdown" id="signInPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/new">Sign up</a>
          {{/if}}
        </ul>
      </div>
      </div>
      </div>
    </div>
  </nav>
</div>