  <div class="post-list">
      <a href="/profile/dddd">
        <div class="user-container card" id="dd">

          <div class="profile-picture">
            <img src="/" width="100"
              height="100"
              class="rounded-circle"/>
          </div>

          <div class="user-info">
            <div class="user-header">
              <span class="name">Barry Barroldsson</span>
            </div>
            <div class="user-body">
              <span class="name">Barry Barroldsson</span>
            </div>
          </div>
        </div>
      </a>
  </div>