body {
  font: 14px Helvetica, Arial, sans-serif;
  text-align: center;
  --koala-white: #ffffff;
  --koala-lilac: #eae1f7;
  --koala-og-lavender: #c3b1e1;
  --koala-lavender: #a785df;
  --koala-magenta: #bf40bf;
  --koala-duckegg-blue: #ced4da;
  --koala-grey: grey;
  --koala-background-grey: rgb(240, 242, 245);
  --koala-dark-grey: rgb(24, 24, 24);
  --koala-black: #1d2129;
  --border-radius: 25px;
  --card-gap: 1rem;
  background-color: var(--koala-background-grey);
}

.navigation {
  /* fixed keyword is fine too */
  position: sticky;
  top: 0;
  z-index: 100;
  /* z-index works pretty much like a layer:
  the higher the z-index value, the greater
  it will allow the navigation tag to stay on top
  of other tags */
  margin-bottom: var(--card-gap) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--koala-white);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--koala-white);
}

.d-flex {
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.koala-image {
  width: 10px;
  height: 10px;
}

/* Allows us to override the default stylings of the search button */
.btn-outline-success {
  color: var(--koala-black);
  border-color: var(--koala-lavender);
}

.bg-light {
  background-color: var(--koala-lavender) !important;
}

.btn-outline-success:hover {
  background-color: var(--koala-magenta) !important;
  border-color: var(--koala-magenta);
}

.card {
  background-color: var(--koala-white);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: auto;
  padding: 14px 10px 14px 10px;
  width: 50vw;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.user-container:hover {
  background-color: var(--koala-lavender);
}

.user-info {
  flex-direction: column;
}

.profile-picture {
  height: 10%;
  width: 30%;
}

input[type="search"] {
  width: 10vw;
  min-width: 95px;
  height: calc(1.5rem + 2px);
  transition: width 0.2s ease-in-out;
}

input[type="search"]:focus {
  width: 25vw;
}

.input-within-dropdown {
  width: 40vw;
  max-width: 250px;
}

.user-dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

input[type="submit"] {
  background: transparent;
  border-color: var(--koala-lavender);
  border-radius: var(--border-radius) !important;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: var(--koala-white);
  background: var(--koala-magenta);
  border-color: var(--koala-magenta);
  border-radius: var(--border-radius) !important;
  cursor: pointer;
}

.form-control:hover {
  border-width: 1.5px;
  border-color: var(--koala-magenta);
}

.form-control:focus {
  box-shadow: inset 0 0 0 3px var(--koala-og-lavender);
}

#sign-in-email {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

#sign-in-password {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

#sign-up-first-name {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}

#sign-up-last-name {
  border-radius: 0rem;
}

#sign-up-email {
  border-radius: 0rem;
}

#sign-up-password {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

/* Buttons */
.btn-primary {
  color: #fff;
  background-color: var(--koala-lavender);
  border-color: var(--koala-lavender);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--koala-magenta);
  border-color: var(--koala-magenta);
}
/* Buttons - End */

/* Posts Index */

.post-form > input[type="text"] {
  color: var(--koala-black);
  font-size: larger;
  border: none;
  width: 90%;
}

.post-form > input[type="text"]:focus {
  color: var(--koala-black);
  outline: none;
}

.post-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  gap: var(--card-gap);
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

.comment-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.3rem;
}

.comment-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.actual-post {
  display: flex;
  flex-direction: row;
}

.post-header {
  text-align: left;
  flex-direction: row;
}

.date-posted {
  color: var(--koala-grey);
}

.post-body {
  margin: 20px;
}
/* Posts - End */

/* Profile page CSS */
/* Header secondary classes (grid) */

.profile-content-container {
  display: grid;
  grid-template-columns: 25% 50% 20%;
  grid-column-gap: 10px;
  grid-gap: 10px;
}

.friends-container {
  grid-column: 1, 2;
}

.posts-container {
  grid-column: 2, 3;
}

.about-container {
  grid-column: 3, 4;
}

/* Friends flex box */
.friends-flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 49%));
  grid-column-gap: 5px;
  grid-gap: 5px;
  justify-content: center;
}

.friend-image img {
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--koala-lavender);
  aspect-ratio: 1;
  object-fit: cover;
}

.friend-name {
  text-align: center;
}

/* Header primary classes (flex) */
.cover-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

#profile-photo {
  flex: 1;
  text-align: right;
}

#name-pronouns {
  flex: 4;
  text-align: left;
}

#edit-add-friend-button {
  flex: 1;
}

/* CSS Layers secondary classes for primary header */
.base-layer {
  position: relative;
  width: 100%;
  height: 40%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.child-layer {
  position: absolute;
  width: 100%;
  height: 55%;
  top: auto;
  left: 0px;
  bottom: 2.5%;
  z-index: 2;
}

/* Styling changes */
h1 {
  font-weight: 340;
  color: var(--koala-dark-grey);
}

h2 {
  color: var(--koala-dark-grey);
}

h4 {
  font-size: medium;
  color: rgb(47, 47, 47);
  font-weight: 100;
  opacity: 90%;
}

h5 {
  text-align: left;
  padding-left: 7.5%;
}

#profile-photo {
  align-items: flex-end;
}

#profile-photo img {
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  width: 70%;
  height: 70%;
  aspect-ratio: 1;
  object-fit: cover;
}

input[type="submit"].add-edit-profile-button {
  background: white;
  border-color: white;
  padding: 5px 16px;
  color: var(--koala-lavender);
  border-radius: 8px;
}

input[type="submit"].add-edit-profile-button:hover {
  background: white;
  border-color: var(--koala-lavender);
  color: var(--koala-lavender);
  border-radius: 8px;
}

/* messages */

.message-container {
  grid-column: 2, 3;
}
.message-header {
  text-align: left;
  flex-direction: row;
}

.date-sent {
  color: var(--koala-grey);
}

.message-body {
  margin: 20px;
}

.message-container > .card {
  background: #fff;
  transition: 0.5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: 0.55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.message-container > .rounded-circle {
  height: 100%;
  width: 100%;
}

.chat-app {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-width: 450px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
}

.chat-app .people-list {
  width: 280px;
  /* position: absolute; */
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.chat-app .chat {
  margin-left: 5vw;
  border-left: 1px solid #eaeaea;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 220px;
}

.people-list {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px;
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer;
}

.people-list .chat-list li.active {
  background: #efefef;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%;
}

.people-list > .friend-container {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  border-radius: 1rem;
}

.people-list > .friend-container:hover {
  background-color: var(--koala-lilac);
}

.people-list > .friend-container > .friend-image {
  width: 45px;
}

.friend-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.friend-anchor:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--koala-white);
}

.people-list img {
  float: left;
  border-radius: 50%;
  width: 8vw;
}

.people-list .about {
  float: left;
  padding-left: 8px;
}

.people-list .status {
  color: #999;
  font-size: 13px;
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px;
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  position: relative;
}

/* .chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
} */

.message-list {
  display: flex;
  flex-direction: column;
}

.message-list .message {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.message-list .my-message {
  background: #efefef;
  display: flex;
  align-items: flex-start;
  /* width: fit-content; */
}

.message-list .other-message {
  display: flex;
  /* width: fit-content; */
  align-items: flex-end;
  background: #e8f1f3;
}

/* .chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px;
} */

/* .chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: right;
  display: flex;
  width: 10vw;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%;
} */

.chat-history > input[type="text"] {
  color: var(--koala-black);
  font-size: larger;
  border: none;
  width: 100%;
}

.chat .chat-message {
  padding: 20px;
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle;
}

.online {
  color: #86c541;
}

.offline {
  color: #e47297;
}

.me {
  color: #1d8ecd;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.chat-app > .message-input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.message-input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.message-friend-name {
  color: var(--koala-grey);
  padding-left: 1vw;
  font-weight: bold;
}

.message-form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.message-form > input[type="text"] {
  color: var(--koala-black);
  font-size: larger;
  border: none;
  width: 100%;
}
