body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.post-header {
  flex-direction: row;
}
