<div class="title">
  <h1 class="title">{{data.title}}</h1>
</div>

<div class="sub-title">
  <p><i>A way to spend koala-ty time with your friends, family & Barry</i></p>
</div>


<div class="homepage-body">

  <a href="/users/new"><input type="submit" value="Sign Up" class="login-signup-btn"></a>
  
  <div class="homepage-logo">
    <img
        class="mb-2"
        src="/images/koala-head-shoulders.svg"
        alt="Koala"
        width="220"
        height=192"
      />
  </div>
  
  <a href="/sessions/new"><input type="submit" value="Login" class="login-signup-btn"></a>

</div>


<div class="homepage-footer">CodeBaddiez © 2022</div>
