<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>A way to connect with your friends and family</p>

<div>
  <img
        class="mb-2"
        src="/images/koala-head-shoulders.svg"
        alt="Koala"
        width="220"
        height=192"
      />
  <button class="login-signup-btn"><a href="/users/new">Sign up</a></button>
  <button class="login-signup-btn"><a href="/sessions/new">Login</a></button>

</div>
