{{#if signInError}}
  <h3> Incorrect User or Password </h3>
{{/if}}

<body class="text-center">
  <main class="form-signin">
    <form
      id="new-session-form"
      class="form-signin"
      action="/sessions"
      method="post"
    >
      <img
        class="mb-2"
        src="/images/koala-head-shoulders.svg"
        alt="Koala"
        width="120"
        height="92"
      />
      <h1 class="h3 mb-3 fw-normal">Sign in</h1>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="name@example.com"
        />
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
        />
        <label for="password">Password</label>
      </div>
      <button
        class="w-100 btn btn-lg btn-primary"
        id="submit"
        type="submit"
      >Sign in</button>
    </form>
  </main>
</body>