<h1>Sign up</h1>

<form id="new-user-form" class="form-signin" action="/users" method="post">
  {{#if errorMessage}}
    <div id="error-message" class="alert alert-dark" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}
  <div class="form-floating">
    <input
      id="sign-up-first-name"
      class="form-control"
      type="text"
      name="firstName"
      placeholder=""
      value=""
    />
    <label for="first-name">First Name</label>
  </div>
  <div class="form-floating">
    <input
      id="sign-up-last-name"
      class="form-control"
      type="text"
      name="lastName"
      placeholder=""
      value=""
    />
    <label for="last-name">Last Name</label>
  </div>
  <div class="form-floating">
    <input
      id="sign-up-email"
      class="form-control"
      type="email"
      name="email"
      placeholder="name@example.com"
      value=""
    />
    <label for="email">Email</label>
  </div>
  <div class="form-floating">
    <input
      id="sign-up-password"
      class="form-control"
      type="password"
      name="password"
      placeholder="Password"
      value=""
    />
    <label for="password">Password</label>
  </div>
  <button
    id="submit"
    class="w-100 btn btn-lg btn-primary mt-2"
    type="submit"
  >Submit</button>
</form>

<div class="login-signup-prompt">Already part of the Koala-munity? <a href="/sessions/new">Login here</a></div>

<div class="homepage-footer">CodeBaddiez © 2022</div>