<h1>Welcome to tófoo</h1>
<div class="post-list">

  <div class="card">
    <form class="post-form" id="new-post-form" action="/posts" method="post">
      <input id="message-input" name="message" type="text" placeholder="What's on your mind?" />
      <input type="submit" value="Post" />
    </form>
  </div>
  
  {{#each posts}}

    <div class="post-container" id="{{this._id}}">

      <div class="post-header">
        <span class="name">Barry Barry</span>
        <span class="date-posted">15 mins ago</span>
      </div>

      <div class="post-body">
        <p class="message">
          {{this.message}}
        </p>
      </div>

    </div>
  {{/each}}

</div>
<a class="new-post-link" href="/posts/new">New post</a>